*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.center {
    text-align:center;
}

.margin-3 {
    margin: 3em 0em;
}

.container{
    margin-left: 10%;
    margin-right: 10%;

    width:80%;
    height: 100%;
}

#left-nav{
    margin-left: -11.65%;
    margin-top: 4px;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: #333;
    color: white;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

#left-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100%;
    font-size: 1.75em;
}

#right-nav ul {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    height: 100%;
}

#right-nav ul > li {
    list-style-type: none;
    font-size: 1.2em;
    padding: 1em;
}

#right-nav ul > li a {
    text-decoration: none;
    color:white;
}

.container-isi{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.frame{
    width: 100%;
    height: 100%;
    background-color: blue;
    overflow: hidden;    
}

.slider{
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.slider-object {
    width:100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: darken;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

.background-cover {
    background-size: cover;
}

.slider-object h1 {
    font-size: 5em;
}

.slider-object h2 {
    font-size: 4em;
}

.slider-object h3 {
    font-size: 3em;
}

#promotion {
    width: 100%;
    height: 20vh;
    margin-top:3em;
}

#promotion .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#promotion .container h2 {
    text-align: center;
    width:50%;
    padding: 2em;
}

#special-product {
    width: 100%;
    height: auto;
    margin: 3em 0em;
}

#special-product .container {
    height: auto;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#special-product .container .description {
    width: 30%;
    /* height: 40vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#special-product .container .description > * {
   margin-bottom: 0.75em;
}

#special-product .container .description button {
    width: 10em;
    margin: 1em 0 0 0;
}

#special-product .container div.images{
    width: auto;
    height: 40vh;
}

#special-product .container div.images img{
    width: auto;
    height: 100%;
    border-radius: 1em;
}

#promotion2 {
    width: 100%;
    height: 65vh;

    background-image: url("../images/donald-martinez-yocFCd9gtHk-unsplash.jpg");
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

#promotion2 .container {
    display: flex;
    align-items: center;
}

#promotion2 .container .box {
    width: 30em;
    height: 30em;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#promotion2 .container .box h1 {
    font-size: 2.5em;
    padding: 1em;
}

#promotion2 .container .box p {
    text-align: center;
    width: 22em;
}

#promotion2 .container .box button {
    margin: 2em;
}

.disproduct-container{
    font-size: 30px;    
    padding-top: 1em;
    display: flex;
    justify-content: flex-start;
}

button{
    color:white;
    border-radius: 20px;
    margin-left: 1.8em;
    background-color: #333;
    padding: 0.5em 1em;
}

#container-gambar-disc{
    padding-top: 25px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#container-gambar-latest{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.latproduct-container{
    padding-top: 1em;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
}

#comments {
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    color: #333;
    padding-top: 2em;
    padding-bottom: 2.5em;
}

#comments .container {
    height: auto;
}

#comments .container h1 {
    font-size: 2em;
    color: #333;
}

#peoples-comment {
    margin-top: 1em;
    margin-bottom: 1em;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#peoples-comment .people {
    width: 28em;
    height: 18em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#peoples-comment .people .profile-image {
    width: 10em;
    height: 10em;
    background-position: center;
    background-size: cover;
    border-radius: 7em;
}

#peoples-comment .people .profile-desc {
    width: 12em;
    padding-left: 1em;
}

#peoples-comment .people .profile-desc h2 {
    text-align: left;
}

#peoples-comment .people:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#newsletter {
    width: 100%;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 3em 0em; 
}

#newsletter .container {
    width:auto;
    padding: 2em;
    border: 2px dashed #333;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#newsletter .container h1 {
    font-size: 2em;
}

#newsletter .container form input.subscribe {
    padding: 6px 15px;
    background:rgba(255, 255, 255, 0.6);
}

#newsletter .container form input.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #333;
    background-color:#333;
    color:#fafafa;
}

#newsletter form input.button:hover {
    background-color:#fff;
    color:#333;
}

footer {
    width: 100%;
    height: auto;
    background-color: #333;
    color:white;
}

footer .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height:80%;
}

footer .container .column-footer {
    padding: 2em;
    max-width: 50%;
}

footer .container .column-footer ul{
    padding-left: 2em;
}

footer .container .column-footer h2{
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

footer p.copyright {
    text-align: center;
}

#short-desc{
    text-align: justify;
}


@media only screen and (max-width: 800px) {
    .slider-object h2 {
        font-size: 2.5em;
    }
    .slider-object h1 {
        font-size: 3em;
    }
    .slider-object h3 {
        font-size: 2em;
    }
    #peoples-comment .people {
        width: 35em;
    }
    #peoples-comment .people .profile-desc {
        padding-left: 3.25em;
    }
    #special-product .container .description {
        width: 65%;
        margin:3em 0 1em 0;
    }
    #promotion2 .container {
        justify-content: center;
    }
}